<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniversityEats"
        tools:targetApi="31">
        <activity
            android:name=".ScrollHomeActivity"
            android:exported="false" />
        <activity
            android:name=".PizzahutReviewActivity"
            android:exported="false" />
        <activity
            android:name=".JavaActivityReview"
            android:exported="false" />
        <activity
            android:name=".PrimegrillReviewActivity"
            android:exported="false" />
        <activity
            android:name=".RisingrollActivityReview"
            android:exported="false" />
        <activity
            android:name=".FreebirdActivityReview"
            android:exported="false" />
        <activity
            android:name=".PandaReviewActivity"
            android:exported="false" />
        <activity
            android:name=".MeximumReviewActivity"
            android:exported="false" />
        <activity
            android:name=".SmoothieReviewActivity"
            android:exported="false" />
        <activity
            android:name=".RowdyReviewActivity"
            android:exported="false" />
        <activity
            android:name=".SushiReviewActivity"
            android:exported="false" />
        <activity
            android:name=".SubwayReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".ChicfilaReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".StarbucksReviewActivity"
            android:exported="false" />
        <activity
            android:name=".freshensReviewActivity"
            android:exported="false" />
        <activity
            android:name=".bossteaReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".cafeReviewActivity"
            android:exported="false" />
        <activity
            android:name=".PizzahutActivity"
            android:exported="false" />
        <activity
            android:name=".BossteaActivity"
            android:exported="false" />
        <activity
            android:name=".JavacityActivity"
            android:exported="false" />
        <activity
            android:name=".PrimegrillActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity3"
            android:exported="false" />
        <activity
            android:name=".RisingrollActivity"
            android:exported="false" />
        <activity
            android:name=".FreebirdsActivity"
            android:exported="false" />
        <activity
            android:name=".PandaexpressActivity"
            android:exported="false" />
        <activity
            android:name=".MeximumActivity"
            android:exported="false" />
        <activity
            android:name=".SmoothiekingActivity"
            android:exported="false" />
        <activity
            android:name=".RowdymartActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity2"
            android:exported="false" />
        <activity
            android:name=".SushicActivity"
            android:exported="false" />
        <activity
            android:name=".SubwayActivity"
            android:exported="false" />
        <activity
            android:name=".ChickfilaActivity"
            android:exported="false" />
        <activity
            android:name=".StarbucksActivity"
            android:exported="false" />
        <activity
            android:name=".FreshensActivity"
            android:exported="false" />
        <activity
            android:name=".CafeActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>